In [1]:
import pandas as pd
import numpy as np

# Get Data

In [2]:
cars_data = {'origin': ['Japan', 'Japan', 'Japan', 'USA', 'Japan'], 
        'manufacturer': ['Honda', 'Toyota', 'Toyota', 'Chrysler', 'Honda'], 
        'color': ['blue', 'green', 'blue', 'red', 'white'], 
        'year': [1980, 1970, 1990, 1980, 1980],
        'Type': ['economy', 'sports', 'economy', 'economy', 'economy'],
        'result': ['positive', 'negative','positive','negative','positive']}
df = pd.DataFrame(cars_data, columns = ['origin', 'manufacturer', 'color', 'year', 'Type', 'result'])
#df.to_csv("./cars.csv", index=False, encoding='utf8')

In [3]:
df

  origin manufacturer  color  year     Type    result
0  Japan        Honda   blue  1980  economy  positive
1  Japan       Toyota  green  1970   sports  negative
2  Japan       Toyota   blue  1990  economy  positive
3    USA     Chrysler    red  1980  economy  negative
4  Japan        Honda  white  1980  economy  positive

# Clean, Prepare & Manipulate Data

In [4]:
df.loc[df['result'] == 'positive', 'result'] = '1'
df.loc[df['result'] == 'negative', 'result'] = '0'
df

  origin manufacturer  color  year     Type result
0  Japan        Honda   blue  1980  economy      1
1  Japan       Toyota  green  1970   sports      0
2  Japan       Toyota   blue  1990  economy      1
3    USA     Chrysler    red  1980  economy      0
4  Japan        Honda  white  1980  economy      1

In [5]:
data = df

#making an array of all the attributes
d = np.array(data)[:,:-1]
print("n The attributes are: ",d)
 
#segragating the target that has positive and negative examples
target = np.array(data)[:,-1]
print("n The target is: ",target)

n The attributes are:  [['Japan' 'Honda' 'blue' 1980 'economy']
 ['Japan' 'Toyota' 'green' 1970 'sports']
 ['Japan' 'Toyota' 'blue' 1990 'economy']
 ['USA' 'Chrysler' 'red' 1980 'economy']
 ['Japan' 'Honda' 'white' 1980 'economy']]
n The target is:  ['1' '0' '1' '0' '1']

# Train Model

## Find-S algorithm

In [6]:
def train(c,t):
    specific_hypothesis = []
    for i, val in enumerate(t):
        if val == '1':
            specific_hypothesis = c[i].copy()
            break
    print("1: ", specific_hypothesis)
    n=2
    for i, val in enumerate(c):
        if t[i] == '1':
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
        print(n,": ", specific_hypothesis) 
        n+=1
                 
    return specific_hypothesis

In [7]:
#obtaining the final hypothesis
print("n The final hypothesis is:",train(d,target))

1:  ['Japan' 'Honda' 'blue' 1980 'economy']
2 :  ['Japan' 'Honda' 'blue' 1980 'economy']
3 :  ['Japan' 'Honda' 'blue' 1980 'economy']
4 :  ['Japan' '?' 'blue' '?' 'economy']
5 :  ['Japan' '?' 'blue' '?' 'economy']
6 :  ['Japan' '?' '?' '?' 'economy']
n The final hypothesis is: ['Japan' '?' '?' '?' 'economy']

## Candidate Elimination algorithm

In [8]:
def train_ce(concepts, target): 
    specific_h = concepts[0].copy()
    print("\nInitialization of specific_h and genearal_h")
    print("\nSpecific Boundary: ", specific_h)
    general_h = [["?" for i in range(len(specific_h))] for i in range(len(specific_h))]
    print("\nGeneric Boundary: ",general_h)  

    for i, h in enumerate(concepts):
        print("\nInstance", i+1 , "is ", h)
        if target[i] == 1:
            print("Instance is Positive ")
            for x in range(len(specific_h)): 
                if h[x]!= specific_h[x]:                    
                    specific_h[x] ='?'                     
                    general_h[x][x] ='?'
                   
        if target[i] == 0:            
            print("Instance is Negative ")
            for x in range(len(specific_h)): 
                if h[x]!= specific_h[x]:                    
                    general_h[x][x] = specific_h[x]                
                else:                    
                    general_h[x][x] = '?'        
        
        print("Specific Bundary after ", i+1, "Instance is ", specific_h)         
        print("Generic Boundary after ", i+1, "Instance is ", general_h)
        print("\n")

    indices = [i for i, val in enumerate(general_h) if val == ['?', '?', '?', '?', '?', '?']]    
    for i in indices:   
        general_h.remove(['?', '?', '?', '?', '?', '?']) 
    return specific_h, general_h

In [9]:
#obtaining the final hypothesis
print("n The final hypothesis is:",train_ce(d,target))

Initialization of specific_h and genearal_h

Specific Boundary:  ['Japan' 'Honda' 'blue' 1980 'economy']

Generic Boundary:  [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]

Instance 1 is  ['Japan' 'Honda' 'blue' 1980 'economy']
Specific Bundary after  1 Instance is  ['Japan' 'Honda' 'blue' 1980 'economy']
Generic Boundary after  1 Instance is  [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]



Instance 2 is  ['Japan' 'Toyota' 'green' 1970 'sports']
Specific Bundary after  2 Instance is  ['Japan' 'Honda' 'blue' 1980 'economy']
Generic Boundary after  2 Instance is  [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]



Instance 3 is  ['Japan' 'Toyota' 'blue' 1990 'economy']
Specific Bundary after  3 Instance is  ['Japan' 'Honda' 'blue' 1980 'economy']
Generic Boundary after  3 Instance is  [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]



Instance 4 is  ['USA' 'Chrysler' 'red' 1980 'economy']
Specific Bundary after  4 Instance is  ['Japan' 'Honda' 'blue' 1980 'economy']
Generic Boundary after  4 Instance is  [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]



Instance 5 is  ['Japan' 'Honda' 'white' 1980 'economy']
Specific Bundary after  5 Instance is  ['Japan' 'Honda' 'blue' 1980 'economy']
Generic Boundary after  5 Instance is  [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]


n The final hypothesis is: (array(['Japan', 'Honda', 'blue', 1980, 'economy'], dtype=object), [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']])